<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>AdventureLogger needs your location to discover nearby places and add them to your adventure list.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>AdventureLogger uses your location to help you discover and track places you visit.</string>
</dict>
</plist>
